@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 24 24 27;
  --foreground: 244 244 245;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
}
